In [3]:
"""Script to train a word tokenizer
"""

import sys, csv
from tokenizer import WordTokenizer
import pandas as pd
import keras
import os

In [4]:
%load_ext autoreload
%autoreload 2

In [5]:

MAX_TEXTS = 1000000

In [6]:
df= pd.read_csv(r'C:\Users\Rajvi\Documents\CODING\Hackathon\Amazon ML 2021\dataset52a7b21\dataset\train_final.csv', escapechar = "\\" ,quoting = csv.QUOTE_NONE)

In [7]:
df1= df.sample(n=1000)
df1.head()

,Unnamed: 0,TITLE_clean,DESCRIPTION_clean,BULLET_POINTS_clean,MIX,BRAND,BROWSE_NODE_ID
768472,768472,avengers iron mini man figure character bundle...,marvel pack br iron man mini figure imagine in...,marvel hero series pack figure fun loot bundle...,marvel pack br iron man mini figure imagine in...,Avengers,55
620693,620693,devsang piece eyelet polyester door curtain se...,luxurious curtain made fine superior polyester...,luxurious curtain made fine superior polyester...,luxurious curtain made fine superior polyester...,Devsang,739
2432928,2432928,aldivo designer printed mobile back case cover...,aldivo designed mobile back cover implausible ...,case handmade item using state art sublimation...,aldivo designed mobile back cover implausible ...,ALDIVO,1045
909033,909033,leather retail pink colour cut sleeve girls fa...,invest pink colour jacket women leather retail...,leather retail authorized sell product seller ...,invest pink colour jacket women leather retail...,Leather Retail,13184
1286955,1286955,print station casual wear half slevees round n...,add coolness wardrobe set pace high latest tre...,fit type regular round neck stylish half sleev...,add coolness wardrobe set pace high latest tre...,PRINT STATION,5

In [8]:
df1= df1[['TITLE_clean', 'BRAND', 'MIX', 'BROWSE_NODE_ID']]

In [33]:
tags=["O"]*1000
df1['tags']=tags
df1

,title,brand,description,categories,tags
768472,avengers iron mini man figure character bundle...,avengers,marvel pack br iron man mini figure imagine in...,55,O
620693,devsang piece eyelet polyester door curtain se...,devsang,luxurious curtain made fine superior polyester...,739,O
2432928,aldivo designer printed mobile back case cover...,aldivo,aldivo designed mobile back cover implausible ...,1045,O
909033,leather retail pink colour cut sleeve girls fa...,leather retail,invest pink colour jacket women leather retail...,13184,O
1286955,print station casual wear half slevees round n...,print station,add coolness wardrobe set pace high latest tre...,5,O
...,...,...,...,...,...
2350851,micro usb cable apple android phone charger mo...,generic,material tpe abs metal function charging data ...,534,O
2660366,supremechoice car stylish drill free roof rail...,supremechoice,supremechoice car stylish drill free roof rail...,5100,O
2898418,pisara women cotton printed saree red sari,pisara,graceful gorgeous cotton saree women house pis...,1052,O
2173432,indigo womens rayon asymmetrical hemline kurta...,indigo,color name teal material rayon three quarter s...,1251,O
446726,hancock mens slim fit formal shirt white,hancock,shop wide range shirt hancock perfect everyday...,1024,O

In [24]:
# df1.columns=["title","brand","description","categories"]
df1.head()
df1.loc[:,"brand"] = df1.brand.apply(lambda x : str.lower(str(x)))
df1.head()

,title,brand,description,categories,tags
768472,avengers iron mini man figure character bundle...,avengers,marvel pack br iron man mini figure imagine in...,55,
620693,devsang piece eyelet polyester door curtain se...,devsang,luxurious curtain made fine superior polyester...,739,
2432928,aldivo designer printed mobile back case cover...,aldivo,aldivo designed mobile back cover implausible ...,1045,
909033,leather retail pink colour cut sleeve girls fa...,leather retail,invest pink colour jacket women leather retail...,13184,
1286955,print station casual wear half slevees round n...,print station,add coolness wardrobe set pace high latest tre...,5,

In [40]:
import sys, csv

# in_file = sys.argv[1]
# out_file = '.'.join(in_file.split('.')[:-1] + ['tagged'] + ['csv'])
# with open(in_file, 'r') as f:
    # reader = csv.reader(f)
    # writer = csv.writer(open(out_file,"w"))
count = 0
for index, row in df1.iterrows():
    # print(row['tags'])
    count += 1
    if not (count % 10000):
        print (count, 'rows tagged')
    title, brand, description = str(row['title']), str(row['brand']), str(row['description'])
    tagging = ''
    brand = brand.split(' ')
    brand_started = False
    for word in title.split(' '):
        if word == brand[0]:
            tagging += 'B-B '
            brand_started = True
            # print('executing')
        elif len(brand) > 1 and brand_started:
            for b in brand[1:]:
                if word == b:
                    tagging += 'I-B '
                else:
                    brand_started = False
                    tagging += 'O '
        else:
            brand_started = False
            tagging += 'O '
    df1.at[index,'tags'] = tagging
    # writer.writerow(row)
print (count, 'rows tagged')

1000 rows tagged

In [41]:
df1['tags']

768472     B-B O O O O O O O O O O O O O O O O O O O O O
620693                               B-B O O O O O O O O
2432928                      B-B O O O O O O O O O O O O
909033                             B-B I-B O O O O O O O
1286955                  B-B I-B O O O O O O O O O O O O
                                ...
2350851                              O O O O O O O O O O
2660366                        B-B O O O O O O O O O O O
2898418                                  B-B O O O O O O
2173432                          B-B O O O O O O O O O O
446726                                   B-B O O O O O O
Name: tags, Length: 1000, dtype: object

In [42]:

# def main(df1):
    # Fetch data
texts, categories = [], []
    # with open(sys.argv[1], 'r') as f:
        # reader = csv.DictReader(f, fieldnames=["title","brand","description","categories"])
count = 0
for index, row in df1.iterrows():
    count += 1
    text, category = str(row['title'])+' '+str(row['description']), row['categories']
    texts.append(text)
    categories.append(category)
    if count >= MAX_TEXTS:
        break
print(('Processed %s texts.' % len(texts)))

# if __name__ == "__main__":
#     main(df1)

Processed 1000 texts.

In [43]:

    # Tokenize texts
    tokenizer = WordTokenizer()
    tokenizer.train(texts)

Training tokenizer...
Found 10907 unique tokens.

In [ ]:
# categories= df1.categories.unique()
# len(categories)

In [44]:
"""Script to train a product category classifier based on product titles and descriptions
"""

import sys, csv
from tokenizer import WordTokenizer
from classifier import ProductClassifier

In [ ]:

MAX_TEXTS = 1000000

In [45]:
# texts, categories = [], []
#     # with open(sys.argv[1], 'r') as f:
#         # reader = csv.DictReader(f, fieldnames=["title","brand","description","categories"])
# count = 0
# for index, row in df1.iterrows():
#     count += 1
#     text, category = str(row['title'])+' '+str(row['description']), row['categories']
#     texts.append(text)
#     categories.append(category)
#     if count >= MAX_TEXTS:
#         break
# print(('Processed %s texts.' % len(texts)))

    # Fetch data
texts, categories = [], []
# with open(sys.argv[1], 'r') as f:
        # reader = csv.DictReader(f, fieldnames=["title","brand","description","categories"])
count = 0
for index, row in df1.iterrows():
    count += 1
    text, category = str(row['description']), row['categories']
    texts.append(text)
    categories.append(category)
    if count >= MAX_TEXTS:
        break
print(('Processed %s texts.' % len(texts)))

Processed 1000 texts.

In [46]:

    # Tokenize texts
    tokenizer = WordTokenizer()
    tokenizer.load()
    data = tokenizer.tokenize(texts)

In [ ]:
# len(categories)

In [47]:

import sys, csv
from tokenizer import WordTokenizer
from classifier import ProductClassifier
from tensorflow.keras.utils import to_categorical
import numpy as np

    # Get labels from classifier
classifier = ProductClassifier()
labels = classifier.get_labels(categories)
# labels = to_categorical(np.asarray(categories))
labels.shape

Indexing categories...
Found 508 unique categories.

(1000, 508)

In [ ]:
# print(labels.shape)

In [ ]:
# print('Loading GloVe embedding...hiii')
# embeddings_index = {}
# print("hi")
# f= open("./data/glove.6B/glove.6B.100d.txt", 'r', encoding="utf-8")
# for line in f:
#     values = line.split()
#     word = values[0]
#     coefs = np.asarray(values[1:], dtype='float32')
#     embeddings_index[word] = coefs
# f.close()

In [48]:
classifier.compile(tokenizer)

Loading GloVe embedding...hiii
hi
Found 400000 word vectors.
Creating embedding layer...
Creating network...
Compiling network...

In [ ]:
# checkpointer = open(file=r'models/classifier.h5')
# print(checkpointer)

In [49]:
classifier.train(data, labels, epochs=2)

Training...
hi
Epoch 1/2
4/4 [==============================] - 15s 312ms/step - loss: 6.1483 - acc: 0.0637 - val_loss: 6.1350 - val_acc: 0.0950

Epoch 00001: saving model to C:\Users\Rajvi\Documents\CODING\Hackathon\Amazon ML 2021\dataset52a7b21\dataset\productner-master\productner-master\models\classifier.h5
Epoch 2/2
4/4 [==============================] - 1s 142ms/step - loss: 5.9400 - acc: 0.1013 - val_loss: 6.1064 - val_acc: 0.0900

Epoch 00002: saving model to C:\Users\Rajvi\Documents\CODING\Hackathon\Amazon ML 2021\dataset52a7b21\dataset\productner-master\productner-master\models\classifier.h5
Evaluating...
1/1 [==============================] - 0s 439ms/step
y_test= [[0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 ...
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]]
predicted= [2 2 2 4 2 4 4 2 2 2 2 4 4 4 4 4 2 4 2 2 2 2 2 2 2 2 2 4 2 2 2 2 2 2 4 2 2
 2 4 2 2 2 4 2 2 2 2 2 2 2 4 2 2 2 4 2 2 2 2 2 2 4 2 2 2 2 2 2 2 2 2 4 2 2
 2 2 2 4 4 4 2 2 2 2 2 4 2 2 2 2 4 4 2 2 2 4 2 2 2 4 2 2 2 4 2 2 2 2 2 2 4
 2 4 4 2 4 4 4 4 4 2 4 2 2 2 2 2 4 2 2 2 2 2 2 4 2 4 4 4 2 2 4 2 4 2 4 2 4
 2 2 4 2 2 2 2 2 2 4 2 2 2 4 2 2 2 2 2 2 2 4 2 2 2 2 2 2 2 2 4 2 2 2 2 2 2
 4 2 4 2 2 4 2 2 2 2 2 2 4 4 2]
              precision    recall  f1-score   support

          55   0.000000  0.000000  0.000000         3
         739   0.000000  0.000000  0.000000         1
        1045   0.109589  0.941176  0.196319        17
       13184   0.000000  0.000000  0.000000         1
           5   0.037037  0.500000  0.068966         4
       22571   0.000000  0.000000  0.000000         1
         259   0.000000  0.000000  0.000000         3
         912   0.000000  0.000000  0.000000         1
         495   0.000000  0.000000  0.000000         0
         796   0.000000  0.000000  0.000000         0
         677   0.000000  0.000000  0.000000         0
        1214   0.000000  0.000000  0.000000         0
        1827   0.000000  0.000000  0.000000         0
        4183   0.000000  0.000000  0.000000         1
        1008   0.000000  0.000000  0.000000         1
        1538   0.000000  0.000000  0.000000         1
           4   0.000000  0.000000  0.000000         3
         197   0.000000  0.000000  0.000000         0
        1254   0.000000  0.000000  0.000000         1
        1003   0.000000  0.000000  0.000000         1
          69   0.000000  0.000000  0.000000         1
        1351   0.000000  0.000000  0.000000         1
         883   0.000000  0.000000  0.000000         0
      123148   0.000000  0.000000  0.000000         0
        1084   0.000000  0.000000  0.000000         1
         890   0.000000  0.000000  0.000000         2
         764   0.000000  0.000000  0.000000         0
       15389   0.000000  0.000000  0.000000         0
         557   0.000000  0.000000  0.000000         1
         601   0.000000  0.000000  0.000000         0
        4547   0.000000  0.000000  0.000000         0
      571628   0.000000  0.000000  0.000000         0
       55582   0.000000  0.000000  0.000000         1
         636   0.000000  0.000000  0.000000         0
        1988   0.000000  0.000000  0.000000         2
       13502   0.000000  0.000000  0.000000         0
        1687   0.000000  0.000000  0.000000         1
        7037   0.000000  0.000000  0.000000         0
         532   0.000000  0.000000  0.000000         1
      794481   0.000000  0.000000  0.000000         1
         686   0.000000  0.000000  0.000000         0
        1203   0.000000  0.000000  0.000000         0
        1331   0.000000  0.000000  0.000000         1
        5390   0.000000  0.000000  0.000000         0
         875   0.000000  0.000000  0.000000         1
     1031139   0.000000  0.000000  0.000000         0
         969   0.000000  0.000000  0.000000         0
        2888   0.000000  0.000000  0.000000         0
        1409   0.000000  0.000000  0.000000         1
          40   0.000000  0.000000  0.000000         1
          75   0.000000  0.000000  0.000000         1
         781   0.000000  0.000000  0.000000         0
        1251   0.000000  0.000000  0.000000         5
         761   0.000000  0.000000  0.000000         1
         377   0.000000  0.000000  0.000000         0
         368   0.000000  0.000000  0.000000         1
        2384   0.000000  0.000000  0.000000         0
      180485   0.000000  0.000000  0.000000         0
        1194   0.000000  0.000000  0.000000         2
        1541   0.000000  0.000000  0.000000         0
      132794   0.000000  0.000000  0.000000         0
        1239   0.000000  0.000000  0.000000         0
       14813   0.000000  0.000000  0.000000         0
         810   0.000000  0.000000  0.000000         1
         569   0.000000  0.000000  0.000000         1
        5059   0.000000  0.000000  0.000000         0
        2077   0.000000  0.000000  0.000000         0
        2472   0.000000  0.000000  0.000000         0
        3527   0.000000  0.000000  0.000000         1
        1358   0.000000  0.000000  0.000000         0
         798   0.000000  0.000000  0.000000         0
        8703   0.000000  0.000000  0.000000         1
         201   0.000000  0.000000  0.000000         1
         186   0.000000  0.000000  0.000000         0
        1052   0.000000  0.000000  0.000000         3
         773   0.000000  0.000000  0.000000         3
         227   0.000000  0.000000  0.000000         1
        2281   0.000000  0.000000  0.000000         0
        4118   0.000000  0.000000  0.000000         0
        1017   0.000000  0.000000  0.000000         0
       16410   0.000000  0.000000  0.000000         0
       18853   0.000000  0.000000  0.000000         0
          38   0.000000  0.000000  0.000000         1
       62400   0.000000  0.000000  0.000000         0
         536   0.000000  0.000000  0.000000         0
        1291   0.000000  0.000000  0.000000         0
       29908   0.000000  0.000000  0.000000         0
        2311   0.000000  0.000000  0.000000         0
      112860   0.000000  0.000000  0.000000         0
        3471   0.000000  0.000000  0.000000         0
         589   0.000000  0.000000  0.000000         0
       16714   0.000000  0.000000  0.000000         0
          11   0.000000  0.000000  0.000000         1
        2728   0.000000  0.000000  0.000000         0
        1922   0.000000  0.000000  0.000000         0
           6   0.000000  0.000000  0.000000         0
      211100   0.000000  0.000000  0.000000         0
        1049   0.000000  0.000000  0.000000         0
        1313   0.000000  0.000000  0.000000         0
        3611   0.000000  0.000000  0.000000         0
         193   0.000000  0.000000  0.000000         0
         465   0.000000  0.000000  0.000000         2
         803   0.000000  0.000000  0.000000         0
          89   0.000000  0.000000  0.000000         1
        1740   0.000000  0.000000  0.000000         0
        1369   0.000000  0.000000  0.000000         0
         486   0.000000  0.000000  0.000000         0
        2877   0.000000  0.000000  0.000000         0
         255   0.000000  0.000000  0.000000         1
         242   0.000000  0.000000  0.000000         1
        1339   0.000000  0.000000  0.000000         0
        7359   0.000000  0.000000  0.000000         1
        5425   0.000000  0.000000  0.000000         0
        1762   0.000000  0.000000  0.000000         0
        1552   0.000000  0.000000  0.000000         0
        4519   0.000000  0.000000  0.000000         1
       58577   0.000000  0.000000  0.000000         0
        3680   0.000000  0.000000  0.000000         0
         653   0.000000  0.000000  0.000000         0
         805   0.000000  0.000000  0.000000         1
        4708   0.000000  0.000000  0.000000         0
         276   0.000000  0.000000  0.000000         0
         691   0.000000  0.000000  0.000000         0
         251   0.000000  0.000000  0.000000         2
        1295   0.000000  0.000000  0.000000         2
        1670   0.000000  0.000000  0.000000         1
       11376   0.000000  0.000000  0.000000         0
        2363   0.000000  0.000000  0.000000         0
          16   0.000000  0.000000  0.000000         1
        3622   0.000000  0.000000  0.000000         1
        1348   0.000000  0.000000  0.000000         1
       45027   0.000000  0.000000  0.000000         1
         390   0.000000  0.000000  0.000000         0
      265980   0.000000  0.000000  0.000000         0
       27239   0.000000  0.000000  0.000000         0
        2091   0.000000  0.000000  0.000000         0
        7868   0.000000  0.000000  0.000000         0
         180   0.000000  0.000000  0.000000         1
        1024   0.000000  0.000000  0.000000         2
        6455   0.000000  0.000000  0.000000         0
        4396   0.000000  0.000000  0.000000         0
        5931   0.000000  0.000000  0.000000         0
         241   0.000000  0.000000  0.000000         0
      107020   0.000000  0.000000  0.000000         0
         285   0.000000  0.000000  0.000000         0
        5100   0.000000  0.000000  0.000000         0
       25687   0.000000  0.000000  0.000000         0
         782   0.000000  0.000000  0.000000         0
         700   0.000000  0.000000  0.000000         1
       30442   0.000000  0.000000  0.000000         0
         407   0.000000  0.000000  0.000000         1
        1724   0.000000  0.000000  0.000000         1
        1353   0.000000  0.000000  0.000000         1
        1226   0.000000  0.000000  0.000000         0
        1037   0.000000  0.000000  0.000000         0
        3769   0.000000  0.000000  0.000000         0
        1684   0.000000  0.000000  0.000000         1
        1428   0.000000  0.000000  0.000000         1
        5398   0.000000  0.000000  0.000000         0
        1364   0.000000  0.000000  0.000000         0
         816   0.000000  0.000000  0.000000         1
         758   0.000000  0.000000  0.000000         1
         374   0.000000  0.000000  0.000000         0
        1454   0.000000  0.000000  0.000000         1
       41731   0.000000  0.000000  0.000000         0
         324   0.000000  0.000000  0.000000         2
         701   0.000000  0.000000  0.000000         1
       16300   0.000000  0.000000  0.000000         0
       18688   0.000000  0.000000  0.000000         0
         340   0.000000  0.000000  0.000000         0
        4298   0.000000  0.000000  0.000000         0
       16794   0.000000  0.000000  0.000000         0
       18426   0.000000  0.000000  0.000000         1
        5924   0.000000  0.000000  0.000000         0
       29410   0.000000  0.000000  0.000000         0
        2298   0.000000  0.000000  0.000000         0
         110   0.000000  0.000000  0.000000         0
         977   0.000000  0.000000  0.000000         0
        1481   0.000000  0.000000  0.000000         0
       14478   0.000000  0.000000  0.000000         0
        1002   0.000000  0.000000  0.000000         0
        3562   0.000000  0.000000  0.000000         0
        1451   0.000000  0.000000  0.000000         1
          22   0.000000  0.000000  0.000000         2
         726   0.000000  0.000000  0.000000         1
        8766   0.000000  0.000000  0.000000         0
       14903   0.000000  0.000000  0.000000         0
         471   0.000000  0.000000  0.000000         0
         458   0.000000  0.000000  0.000000         1
         590   0.000000  0.000000  0.000000         0
        3050   0.000000  0.000000  0.000000         1
       11355   0.000000  0.000000  0.000000         0
        5244   0.000000  0.000000  0.000000         0
       49284   0.000000  0.000000  0.000000         1
        4317   0.000000  0.000000  0.000000         0
        1058   0.000000  0.000000  0.000000         0
       11390   0.000000  0.000000  0.000000         0
        9787   0.000000  0.000000  0.000000         0
        1248   0.000000  0.000000  0.000000         0
         905   0.000000  0.000000  0.000000         1
        1590   0.000000  0.000000  0.000000         0
         880   0.000000  0.000000  0.000000         0
        3382   0.000000  0.000000  0.000000         0
        1813   0.000000  0.000000  0.000000         0
       12014   0.000000  0.000000  0.000000         0
        3708   0.000000  0.000000  0.000000         0
         216   0.000000  0.000000  0.000000         2
          19   0.000000  0.000000  0.000000         0
        1198   0.000000  0.000000  0.000000         0
         811   0.000000  0.000000  0.000000         1
       17381   0.000000  0.000000  0.000000         1
        1011   0.000000  0.000000  0.000000         0
        1240   0.000000  0.000000  0.000000         1
        2282   0.000000  0.000000  0.000000         1
       25077   0.000000  0.000000  0.000000         0
        5692   0.000000  0.000000  0.000000         1
       17670   0.000000  0.000000  0.000000         1
       10848   0.000000  0.000000  0.000000         0
      335582   0.000000  0.000000  0.000000         0
        9106   0.000000  0.000000  0.000000         0
        4306   0.000000  0.000000  0.000000         0
        1705   0.000000  0.000000  0.000000         0
       31719   0.000000  0.000000  0.000000         1
        2509   0.000000  0.000000  0.000000         0
        8708   0.000000  0.000000  0.000000         1
         382   0.000000  0.000000  0.000000         0
         396   0.000000  0.000000  0.000000         0
        2273   0.000000  0.000000  0.000000         0
        2181   0.000000  0.000000  0.000000         0
         746   0.000000  0.000000  0.000000         0
         794   0.000000  0.000000  0.000000         0
       12732   0.000000  0.000000  0.000000         1
         223   0.000000  0.000000  0.000000         1
         328   0.000000  0.000000  0.000000         0
        7766   0.000000  0.000000  0.000000         0
        1486   0.000000  0.000000  0.000000         1
        2228   0.000000  0.000000  0.000000         0
        5801   0.000000  0.000000  0.000000         1
        2491   0.000000  0.000000  0.000000         0
         896   0.000000  0.000000  0.000000         1
       58629   0.000000  0.000000  0.000000         0
        2511   0.000000  0.000000  0.000000         0
      109336   0.000000  0.000000  0.000000         0
        5616   0.000000  0.000000  0.000000         0
       10184   0.000000  0.000000  0.000000         0
        2412   0.000000  0.000000  0.000000         0
        1896   0.000000  0.000000  0.000000         0
        3719   0.000000  0.000000  0.000000         0
        2393   0.000000  0.000000  0.000000         1
        1971   0.000000  0.000000  0.000000         0
         968   0.000000  0.000000  0.000000         0
        8099   0.000000  0.000000  0.000000         0
       16010   0.000000  0.000000  0.000000         0
       74669   0.000000  0.000000  0.000000         0
         651   0.000000  0.000000  0.000000         1
        4277   0.000000  0.000000  0.000000         0
         117   0.000000  0.000000  0.000000         0
         289   0.000000  0.000000  0.000000         0
        5625   0.000000  0.000000  0.000000         0
         417   0.000000  0.000000  0.000000         0
       16753   0.000000  0.000000  0.000000         0
       41644   0.000000  0.000000  0.000000         0
        3008   0.000000  0.000000  0.000000         0
         525   0.000000  0.000000  0.000000         0
      380695   0.000000  0.000000  0.000000         0
       26425   0.000000  0.000000  0.000000         0
        1977   0.000000  0.000000  0.000000         1
        2321   0.000000  0.000000  0.000000         0
        2416   0.000000  0.000000  0.000000         1
        1703   0.000000  0.000000  0.000000         0
         362   0.000000  0.000000  0.000000         0
        4320   0.000000  0.000000  0.000000         1
         152   0.000000  0.000000  0.000000         0
        6791   0.000000  0.000000  0.000000         0
          36   0.000000  0.000000  0.000000         1
      249637   0.000000  0.000000  0.000000         0
        1186   0.000000  0.000000  0.000000         0
        2003   0.000000  0.000000  0.000000         0
         293   0.000000  0.000000  0.000000         1
         237   0.000000  0.000000  0.000000         0
        2020   0.000000  0.000000  0.000000         0
         204   0.000000  0.000000  0.000000         0
        3538   0.000000  0.000000  0.000000         0
         989   0.000000  0.000000  0.000000         1
        1646   0.000000  0.000000  0.000000         1
        7702   0.000000  0.000000  0.000000         0
         231   0.000000  0.000000  0.000000         0
         534   0.000000  0.000000  0.000000         0
       14225   0.000000  0.000000  0.000000         0
         367   0.000000  0.000000  0.000000         0
          81   0.000000  0.000000  0.000000         1
        1893   0.000000  0.000000  0.000000         0
        3546   0.000000  0.000000  0.000000         1
         582   0.000000  0.000000  0.000000         0
        1005   0.000000  0.000000  0.000000         0
        5112   0.000000  0.000000  0.000000         0
        1699   0.000000  0.000000  0.000000         1
        1905   0.000000  0.000000  0.000000         0
       19752   0.000000  0.000000  0.000000         0
        1597   0.000000  0.000000  0.000000         1
        5471   0.000000  0.000000  0.000000         1
        1851   0.000000  0.000000  0.000000         1
        2022   0.000000  0.000000  0.000000         0
        1034   0.000000  0.000000  0.000000         0
         630   0.000000  0.000000  0.000000         1
      682282   0.000000  0.000000  0.000000         0
         840   0.000000  0.000000  0.000000         0
        2093   0.000000  0.000000  0.000000         0
        3994   0.000000  0.000000  0.000000         1
        1563   0.000000  0.000000  0.000000         1
          82   0.000000  0.000000  0.000000         0
         555   0.000000  0.000000  0.000000         0
         962   0.000000  0.000000  0.000000         0
         837   0.000000  0.000000  0.000000         0
          76   0.000000  0.000000  0.000000         0
       19783   0.000000  0.000000  0.000000         0
       14017   0.000000  0.000000  0.000000         0
         215   0.000000  0.000000  0.000000         1
       65030   0.000000  0.000000  0.000000         0
       30638   0.000000  0.000000  0.000000         0
         397   0.000000  0.000000  0.000000         0
       30737   0.000000  0.000000  0.000000         0
        6143   0.000000  0.000000  0.000000         0
        5597   0.000000  0.000000  0.000000         0
       25889   0.000000  0.000000  0.000000         1
         594   0.000000  0.000000  0.000000         0
       33208   0.000000  0.000000  0.000000         0
        2827   0.000000  0.000000  0.000000         0
         413   0.000000  0.000000  0.000000         0
       15758   0.000000  0.000000  0.000000         0
        4962   0.000000  0.000000  0.000000         0
        1979   0.000000  0.000000  0.000000         0
       13966   0.000000  0.000000  0.000000         0
        1619   0.000000  0.000000  0.000000         0
         580   0.000000  0.000000  0.000000         0
      335515   0.000000  0.000000  0.000000         1
        1163   0.000000  0.000000  0.000000         1
         908   0.000000  0.000000  0.000000         0
        1164   0.000000  0.000000  0.000000         0
       11081   0.000000  0.000000  0.000000         1
        4867   0.000000  0.000000  0.000000         0
       32282   0.000000  0.000000  0.000000         1
          58   0.000000  0.000000  0.000000         1
         993   0.000000  0.000000  0.000000         0
        2822   0.000000  0.000000  0.000000         0
         473   0.000000  0.000000  0.000000         0

C:\Users\Rajvi\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\metrics\_classification.py:1248: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\Rajvi\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\metrics\_classification.py:1248: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\Rajvi\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\metrics\_classification.py:1248: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\Rajvi\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\metrics\_classification.py:1248: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\Rajvi\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\metrics\_classification.py:1248: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\Rajvi\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\metrics\_classification.py:1248: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

TRAIN_NER

In [51]:
"""Script to train a product category ner based on product titles and descriptions
"""
import sys, csv
from tokenizer import WordTokenizer
from ner import ProductNER

MAX_TEXTS = 1000000


    # Fetch data
texts, tags = [], []
count = 0
for index, row in df1.iterrows():
    count += 1
    text, tag_set = row['title'], row['tags'].split(' ')[:-1]
    texts.append(text)
    tags.append(tag_set)
    if count >= MAX_TEXTS:
            break
print(('Processed %s texts.' % len(texts)))

Processed 1000 texts.

In [52]:

    # Tokenize texts
    tokenizer = WordTokenizer()
    tokenizer.load()
    data = tokenizer.tokenize(texts)

In [ ]:
# from tensorflow.keras.utils import to_categorical
# from keras.preprocessing.sequence import pad_sequences
# tag_map={}
# indices = []
# for tag in tags:
#     if not (tag in tag_map):
#         tag_map[tag] = len(tag_map) + 1
#     indices.append(tag_map[tag])
# print(indices)
# labels = []
# for tag_set in tags:
#     indexed_tags = indices
#     labels.append(to_categorical(np.asarray(indexed_tags)))
# labels = pad_sequences(labels, maxlen=200)
# print(labels)

In [53]:

    # Get labels from NER
    ner = ProductNER()
    labels = ner.get_labels(tags)

Getting labels...

In [54]:

    # Compile NER network and train
    ner.compile(tokenizer)

Loading GloVe embedding...
Found 400000 word vectors.
Creating embedding layer...
Creating network...
Compiling network...

In [55]:
ner.train(data, labels, epochs=2)

Training...
(200, 200) (800, 200) (200, 200, 4) (800, 200, 4)
(1000, 200) (1000, 200, 4)
<keras.callbacks.ModelCheckpoint object at 0x0000014D299B5B80>
Epoch 1/2
4/4 [==============================] - 15s 1s/step - loss: 0.0738 - acc: 0.3449 - val_loss: 0.0552 - val_acc: 0.7976

Epoch 00001: saving model to C:\Users\Rajvi\Documents\CODING\Hackathon\Amazon ML 2021\dataset52a7b21\dataset\productner-master\productner-master\models\ner.h5
Epoch 2/2
4/4 [==============================] - 2s 507ms/step - loss: 0.0537 - acc: 0.8623 - val_loss: 0.0397 - val_acc: 0.8997

Epoch 00002: saving model to C:\Users\Rajvi\Documents\CODING\Hackathon\Amazon ML 2021\dataset52a7b21\dataset\productner-master\productner-master\models\ner.h5
Evaluating...
1/1 [==============================] - 2s 2s/step
              precision    recall  f1-score   support

               0.000000  0.000000  0.000000     37854
         B-B   0.117647  0.012270  0.022222       163
           O   0.047962  0.988654  0.091486      1939
         I-B   0.000000  0.000000  0.000000        44

    accuracy                       0.047975     40000
   macro avg   0.041402  0.250231  0.028427     40000
weighted avg   0.002804  0.047975  0.004525     40000